$nav-padding: 1rem;
$nav-height: 50px;
$form-width: 600px;

a {
	text-decoration: none;
}

h1 {
	color: red;
}


body {
	font-family: "Helvetica", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ddd;
	opacity: 0.9;
	z-index: 2;

	&:after {
		height: 50px;
	}

	div {
		position: absolute;
		text-align: center;
		top: 0;
		padding: $nav-padding;

		&.left {
			left: 0;
			z-index: 3;
		}

		&.middle {
			position: relative;		
		}

		&.right {
			right: 0;
			text-align: right;
			z-index: 3;

			&:hover > ul {
				visibility: visible;
			}
		}

		&.settings {
			height: $nav-height;
			box-sizing: border-box;
		}

		> ul {
		    background: white;
		    margin: 0;
		    list-style: none;
		    line-height: 1.5rem;
		    padding: 0;

		    border-radius: 5px;
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;
		    border: solid 1px #ddd;

		    position: relative;
		    top: $nav-padding;	
		    left: $nav-padding;

		    visibility: collapse;

		    li {
		    	padding: 0.25rem 1rem;
		    	min-width: 150px;
		    	text-align: left;
		    	cursor: pointer;

		    	&:hover {
		    		background: #ddd;
		    	}
		    }
		}
	}
}

.content {
	margin-top: 50px;	
	padding: $nav-padding;
}

.sidebar {
	margin-top: 50px;
	width: 300px;
	height: 100%;
	position: absolute;
}

.main {
	position: absolute;
	left: 300px;
	max-width: $form-width;
	padding-bottom: 100px;

	section {
		.post {
			border-bottom: 1px solid #ddd;
			padding-bottom: 50px;

			max-height: 300px;
			overflow: hidden;
			position: relative;

			transition: max-height 1s ease-in-out;

			header {
				small, a {
					color: #999;
					cursor: pointer;

					&:hover {
						color: inherit;
					}
				}

				padding-bottom: 1rem;
			}

			&.expand {	
				height: auto;
				max-height: 9999px;

				.read-more {
					display: none;
				}
			}

			.read-more {
				position: absolute; 
				bottom: 0;
				left: 0;
				width: 100%; 
				text-align: center; 
				margin: 0;
				padding-top: 50px; 
				padding-bottom: 10px;

				cursor: pointer;
				
				/* "transparent" only works here because == rgba(0,0,0,0) */ 
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
		        background-image: -webkit-linear-gradient(top, transparent, white);
		        background-image: -moz-linear-gradient(top, transparent, white);
		        background-image: -ms-linear-gradient(top, transparent, white);
		        background-image: -o-linear-gradient(top, transparent, white);
		    }
		}
	}
}

.form {
	padding: 1rem;
	max-width: $form-width;
	margin: auto;

	input[type="text"] {
		width: 100%;
		padding: 5px;
  		margin: 5px 0;
  		box-sizing: border-box;

  		&#post_title {
  			border: solid;
  			font-size: 22px;
  		}
	}
	textarea {
		min-width: 500px;
		min-height: 300px;
	}

	::-webkit-input-placeholder {
	   color: #ccc;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #ccc;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #ccc;  
	}

	:-ms-input-placeholder {  
	   color: #ccc;  
	}

	.field {
		padding: 1rem 0;
	}

	input[type="submit"] {
		width: 100%;
		font-size: 18px;
		border-image: none;
		display: block;
		padding: 5px;
		-webkit-appearance: none;
		background: black;
		color: white;
	}
}